@import "overpass.css";

*{
  box-sizing: border-box;
}

body {
  font-family: 'overpass';
  padding: 10px;
  background: #f1f1f1;
  color:#1e1e1f;
  font-size: 18px;
  
}

/* Header/Blog Title */
.header {
  font-family: 'overpass';
  font-weight: normal;
  font-style: normal;
  border: solid;
  border-width: 2px 2px 0px 2px;
  border-color: #b4b4bc;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  padding-left: 16.65%;
  padding-top: 1px;
  padding-bottom: 1px;
}

.header h1 {
  font-size: 46px;
}

/* Style the top navigation bar */
.topnav {
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  background-color: #b4b4bc;
  padding-left:16.65%;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 2px 16px;
  text-decoration: none;
}

.topnav a2 {
  float: left;
  display: block;
  color: white;
 text-align: center;
  padding: 2px 16px;
  text-decoration: none;
  background-color: #03315C;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #69696d;
  color: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  border-radius: 10px; 
  float: left;
  width: 66.66%;
  padding-left:16.65%;
}

/* Left column second type */
.leftcolumn2 {   
  border-radius: 10px;
  float: left;
  width: 83.65%;
  padding-left:16.65%;
}

/* Right column */
.rightcolumn {
  border-radius: 10px;
  float: left;
  background-color: #f1f1f1;
  padding-left: 10px;
  width: 22%;
}


/* Add a card effect for articles */
.card {
  border-radius: 10px;
  border: solid;
  border-width: 2px;
  border-color: #b4b4bc;
  background-color: white;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 1px;
  margin-top: 10px;
}


.card2 {
  padding: 10px;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer/
.footer {
  text-align: center;
  height: 20px;
}*/

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
  width: 100%;
  padding-left:0%;
  }
  .leftcolumn2 {
  width: 100%;
  padding-left: 0%;
  }
  .topnav a, .topnav a2 {
  font-size: 24px;
  }
}

@media screen and (max-device-width: 800px) {
  .leftcolumn, .rightcolumn {   
  width: 100%;
  padding-left:0%;
  }
  .leftcolumn2 {
  width: 100%;
  padding-left: 0%;
  }
  .topnav a, .topnav a2 {
  font-size: 32px;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 67%;
  }
}

a:link{
color: #03315c
}

a:visited{
color: #03315c
}

a:hover{
color: #03315c
}

a:active{
color: #03315c
}

a.internal:link{
color: white
}

a.internal:visited{
color: white
}

a.interal:hover{
color: white
}

a.internal:active{
color: white
}
</style>
